<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings file="user.config">
    <add key="DbRequestTimeout" value="120"/>
    <add key="TimerTick" value="1000"/>
    <add key="DateTime_TrainingEmailNotif" value="12:00 AM"/>
  </appSettings>
  <connectionStrings configSource="connection.config" />
</configuration>